<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome</title>
  {{!--
  <link rel="stylesheet" href="/main.css"> --}}
  <link rel="stylesheet" href="/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="menu-bar row">
      <div class="col-md-2"><img src="/andela.jpg" alt="logo" height="60" width="60"></div>
      <div class="col-md-10">
        <form action="" method="POST">
          <div class="col-md-4 col-sm-12">Username:
            <input class="input-field" type="text" name="username" placeholder="Enter Username">
          </div>
          <div class="col-md-4 col-sm-12">Password:
            <input class="input-field" type="password" name="password" placeholder="Enter Password">
            <br>
            <a href="#">Forgot Password</a></div>
          <div class="col-md-2 col-sm-12">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="info col-md-6 reg col-sm-6 reg col-xs-hidden">
        <h1>Welcome to Postit</h1>
        <br>
        <div>Postit allows friends and
          <br> colleagues create groups for
          <br> notifications. This way one
          <br> person can post notifications
          <br> to everyoneby sending a message once. </div>
      </div>
      <div class="reg col-md-6 reg col-sm-6 reg col-xs-12">
        <form action="" method="POST">
          <fieldset>
            <legend>Registration</legend>
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Enter Username">
            <br>
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Enter Email">
            <br>
            <label for="phone">Phone:</label>
            <input type="text" name="phone" placeholder="Enter Phone Number">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Enter Password">
            <br>
            <label for="cpassoword">Confirm Password:</label>
            <input type="password" name="cpassword" placeholder="Enter Password Again">
            <br>
            <button type="submit" class="btn btn-info">Sign Up</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <script src="/bundle.js"></script>
  <script>
  var size = document.querySelector(document);
  window.onresize
  </script>
</body>

</html>