 $headerColor: #3B5998;
 $bodyColor: linear-gradient(#fff, #5D8AA8);
 .menu-bar {
     height: 100px;
     background: $headerColor;
     form {
         font-size: 15px;
         float: right;
         color: white;
         div {
             margin: 10px;
             button {
                 margin-top: 18px;
             }
         }
         a {
             &:hover {
                 color: white;
             }
         }
         input {
             padding-left: 3px;
             border-radius: 3px;
             border: 1px solid #4B4B4B;
         }
     }
 }
 
 .row {
     margin-top: 10px;
 }
 
 .info {
     font-size: 21px;
     div h1 {
         float: right;
     }
     h1 {
         font-size: 35px;
     }
 }
 
 .reg {
     //  height: 700px;
     form {
         width: 460px;
     }
     overflow: hidden;
     label {
         margin: 1px;
         width: 150px;
     }
     input {
         margin: 4px;
         border: 1px solid #4B4B4B;
         width: 280px;
         height: 30px;
         border-radius: 3px;
         padding-left: 5px;
     }
     button {
         margin: 1px;
         margin-top: 10px;
     }
 }