<!doctype html>

<html>
	<head>
		<title>Add A Member</title>
		<link rel="stylesheet" href="../../public/css/style.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="title">
				<h1>Register Users</h1>
			</div>
			<div class="body">
				<form action="" method="post">
					<div id="user-list">
						<ul class="user">
							<li><input name="username" type="checkbox" name="checkbox"></li>
							<li>Username</li>
						</ul>			
					</div>
					<button type="submit" class="btn btn-primary">Done</button>
				</form>
			</div>
		</div>
	</body>
</html>