<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Group List</title>

    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="title">
            <h1>Group List</h1>
        </div>
        <div class="body">
            <div class="top-item">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li><a href="#">Creat Group</a></li>
                </ul>
            </div>
            <div id="message-group">
                <a href="#">
                    <div class="message">
                        Groupname
                    </div>
                </a>

                <a href="#">
                    <div class="message">
                        Groupname
                    </div>
                </a>

                <a href="#">
                    <div class="message">
                        Groupname
                    </div>
                </a>
            </div>

        </div>
    </div>
</body>

</html>s