<!doctype html>

<html>

<head>
    <title>Add A User</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="title">
            <h1>Register Users</h1>
        </div>
        <div class="body">
            <form action="" method="post">

                <div class="message-list">

                    <div class="add-user"><input type="submit" class="button button-primary btn" name="username" type="button" value="Add"> Username
                    </div>

                    <div class="add-user"><input type="submit" class="button button-primary btn" name="username" type="button" value="Add"> Username
                    </div>

                    <div class="add-user"><input type="submit" class="button button-primary btn" name="username" type="button" value="Add"> Username
                    </div>

                </div>


            </form>
        </div>
    </div>
</body>

</html>