<!doctype html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Group Message</title>
    <!-- <link rel="stylesheet" href="../public/bootstrap/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="title">
            <h1>Group Name</h1>
        </div>
        <div>
            <div class="body">
                <div class="top-item">
                    <ul>
                        <li style="visibility: hidden; cursor: default;"></li>
                        <li style="visibility: hidden; cursor: default;"></li>
                        <li style="visibility: hidden; cursor: default;"></li>
                        <li style="visibility: hidden; cursor: default;"></li>
                        <li><a href="#">Creat Message</a></li>
                        <li><a href="#">Add User</a></li>
                    </ul>
                </div>
                <div class="message-list">
                    <div>## A Simple program to demostrate Object Oriented Programming in JavaScript using ES6 #### OOP Concept used include:- Encapsulation - Inheritance - Polymorphism</div>

                    <div>## A Simple program to demostrate Object Oriented Programming in JavaScript using ES6 #### OOP Concept used include:- Encapsulation - Inheritance - Polymorphism</div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>