<!doctype html>

<html>

<head>
    <title>Send Message</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="title">
            <h1>Group Name</h1>
        </div>
        <div class="body">
            <div class="mess-form">
                <form action="" method="POST">
                    <fieldset>
                        <legend>Broadcast</legend>
                        <textarea name="textarea"></textarea>
                        <button class="btn btn-primary" type="submit">Send</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>

</html>